<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tikpinball.app" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>TikPinball</name>
    <description>TikTok LIVE Interactive Pinball</description>
    <author email="-" href="https://boak29.github.io/Pinball">Boak29</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="HardwareAcceleration" value="true" />

    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
        <preference name="AndroidInsecureFileModeEnabled" value="false" />
        <preference name="Scheme" value="https" />
        <preference name="Hostname" value="localhost" />
        <edit-config file="app/src/main/AndroidManifest.xml"
                     mode="merge"
                     target="/manifest/application">
            <application android:usesCleartextTraffic="false" />
        </edit-config>
    </platform>
</widget>
